@import '../variables';

.page-transition-enter {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
}

.page-transition-enter-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;

    transition: opacity $timeout_transition, transform $timeout_transition;
}

.page-transition-exit {
    opacity: 1;
}

.page-transition-exit-active {
    opacity: 0;

    transition: opacity $timeout_transition;
}
